<html>
	<head>
			<title>Tshirt.ly - Admin</title>
		<!-- Link to stylesheet -->
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
		<!-- Link to GoogleFonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,800italic,400,300,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
			<h1> Tshirt.ly <h1>
        	<h2>Your source for cool T's</h2>
		</header>
		<div class="content">
		    <ul class = "sales">
				<% sales.each do |sale| %>
					<li>
						Customer: <%= sale.user_email %> purchased <%= sale.quantity_purchased %><a href = "/tshirts/<%= sale.tshirt_id %>"> <%= sale.tshirt.color %> <%= sale.tshirt.style %></a> T- shirts on <%= sale.created_at %>
						</a>
					</li>
				<% end %>
		    </ul>
		    EDIT T-shirt information here: 
		    <ul class = "tshirts">
				<% tshirts.each do |tshirt| %>
					<li>
						<a href = "/tshirts/<%= tshirt.id %>/edit"> 
							<%= tshirt.style %> </a> inventory: <%= tshirt.quantity_available %> remaining.
						
					</li>
				<% end %>
		    </ul>

	    </div>
	<%= erb :page_footer %>
	</body>
</html>