<html>
	<%= erb :header %>

	<div class="admin_content">
	    <ul class = "sales">
	    	<h3>Sales History</h3>
			<% sales.each do |sale| %>
				<li>
					<%= sale.user_email[0..10] %> purchased <%= sale.quantity_purchased %>
					<% tshirts.each do |thisTshirt| %>
						<% if thisTshirt.id == sale.tshirt_id %>
							<% if !thisTshirt.hidden %>
								<a href = "/tshirts/<%= thisTshirt.id %>"> 
							<% end %>
						<% end %>
					<% end %>
					<%= sale.tshirt.color %> 
					<%= sale.tshirt.style %></a> T- shirts on <%= sale.created_at %>.
				</li>
			<% end %>
	    </ul>

	    <ul class = "tshirt">
			<h3>EDIT T-shirt Inventory </h3>
	   		<% tshirts.each do |tshirt| %>
				<li> <a href = "/tshirts/<%= tshirt.id %>/edit"><%= tshirt.style %></a> 
				<%= tshirt.quantity_available %> remaining.
				</li>
			<% end %>
	    </ul>

	    <br><a href="/tshirts/new"> Add new Inventory! </a>

    </div>

<%= erb :page_footer %>
	</body>
</html>