<!DOCTYPE>
<html>
  <head>
    <title>Tshirt.ly - Buy Cool T's</title>
    <!-- Link to stylesheet -->
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <!-- Link to GoogleFonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,800italic,400,300,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>

    <!-- Link to bootstrap + jquery + underscore -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
  </head>
  </head>
  <body>
    <div>
    <header>
          <h1> Tshirt.ly <h1>
          <h2><%= tshirt.style %><%= tshirt.color %></h2>
    </header>

    <div class = "records">
    sale records for this shirt 

    <% sales.each do |sale| %>
      <%= sale.user_email %> bought <%= sale.quantity_purchased %> of these on <%= sale.created_at %> 
    <% end %>
    </div>

      <h1>Update a T-Shirt</h1>
        <div class="lines"></div>
          <form class = "list" method = "post" action = "/tshirts/<%= tshirt.id %>" >
            <input type = "hidden" name = "_method" value = "put">
              <div class = "fields">
                <label>Change T-Shirt Style</label>
                <input type = "text" name = "new_style" value = "<%= tshirt.style %>"><br />
                <label>Change Colours</label>
                <input type = "text" name = "new_color" value = "<%= tshirt.color %>"><br />
                <label>Available In Stock</label>
                <input type = "text" name = "new_quantity" value = "<%= tshirt.quantity_available %>"><br />
                <label>Inflation Adjustment</label>
                <input type = "text" name = "new_price" value = "<%= tshirt.price %>"><br />
                <label>Change Image</label>
                <input type = "text" name = "new_image" value = "<%= tshirt.image_url %>"><br />

                <button class = "update-button">Update</button></br>
          </form>


          <form class = "list" method = "post" action = "/tshirts/<%= tshirt.id %>" >
            <input type = "hidden" name = "_method" value = "delete">
                <button class = "delete-button">Delete</button>
          </form>
        </div>

    </div>
    <%= erb :page_footer %>
  </body>
</html>