<html>

<<<<<<< HEAD
<%= erb :header %>

<div class="content">
<ul class="tshirts">
<% tshirts.each do |tshirt| %>
	<li class="tshirts">
		<!-- <div class="col-md-3 dish"> -->
		<a href = "/tshirts/<%= tshirt.id %>"> 
			<img style="height:auto; width:250px; max-height:300px;" src="<%= tshirt.image_url %>"></img>
			<br>
			<%= tshirt.style %>
		</a>
	</li>
<% end %>
</ul>
</div>
=======
		
				<ul class="tshirts">
				<% tshirts.each do |tshirt| %>
					<li class="tshirts">
						<!-- <div class="col-md-3 dish"> -->
						<a href = "/tshirts/<%= tshirt.id %>"> 
							<img style="height:auto; width:250px; max-height:300px;" src="<%= tshirt.image_url %>"></img>
							<br>
							
							<div style="text-align: center;">
							<%= tshirt.style %><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><%= tshirt.quantity_available %> left
							</div>
						</a>
					</li>
				<% end %>
				</ul>
	    
>>>>>>> a8200024b3d745963f98029e3c38ff129a6aef0e
					
<%= erb :page_footer %>
	</body>
</html>