<!DOCTYPE>
<html>
  <head>
      <title>Tshirt.ly - Buy Cool T's</title>
    <!-- Link to stylesheet -->
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <!-- Link to GoogleFonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,800italic,400,300,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div>
    <header>
        <h1> Tshirt.ly <h1>
        <h2>Your source for cool T's</h2>
    </header>
      <h1>Buy Me!</h1>
    <div class="content">
      <span href = "/tshirts/<%= tshirt.id %>"> 
            <image src="<%= tshirt.image_url %>"></image>
            <br>
            <%= tshirt.style %>
            <br>
            <ul class="shirt_info">
              <li>
                <%= tshirt.description %>
                <br>
                <%= tshirt.price %>
                <br>
              </l1>
            </ul>
          </span> 
    </div>
<form class="list" method="POST" action="/tshirts/<%= tshirt.id %>/newSale" >
<input type="text" name="email" placeholder="your email" required><br/>
<input type="text" name="quantity" placeholder="quantity" required><br/>
<button class="buy-button">Buy!</button>
    </form>
    </div>
  </body>
  <%= erb :page_footer %>
</html>