<!DOCTYPE>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "/css/styles.css">
  </head>
  <body>
    <div>
    <header>
      <h1>Buy Me!</h1>
    </header>
    <div class="content">
      <span href = "/tshirts/<%= tshirt.id %>"> 
            <image src="<%= tshirt.image_url %>"></image>
            <br>
            <%= tshirt.style %>
            <br>
            <ul class="shirt_info">
              <li>
                <%= tshirt.description %>
                <br>
                <%= tshirt.price %>
                <br>
              </l1>
            </ul>
          </span> 
    </div>
<form class="list" method="POST" action="/thirts/<%= tshirt.id %>/newSale" >
<input type="text" name="email" placeholder="your email" required><br/>
<input type="text" name="quantity" placeholder="quantity" required><br/>
<button class="buy-button">Buy!</button>
    </form>
    </div>
  </body>
</html>