<html>
<%= erb :header %>
<body>
	<header>
		<h1> Tshirt.ly <h1>
		<h2>Your source for cool T's</h2>
		<nav class="navHeader">
			<ul>
				<li><a href="#">SHOP</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">ADMIN</a></li>
			</ul
		</nav>	
	</header>
	<div style="padding-top:100px; padding-left:50px;"class="confirm">
		<ul style="list-style-type: none;">
			<h3 style="padding-bottom:100px;">Congratulations!</h3>

			<li>You have sucessfully purchased:
			</li>
			<br>
			<li style="padding-left:80px;">  <%= sale.quantity_purchased %>  <%= tshirt.style %> at the price of $<%= sale.quantity_purchased * tshirt.price %> 
			</li>	
		</ul>	
	</div>
	<%= erb :page_footer %>
</body>
</html>
