<html>
	<head>
		<title>Tshirt.ly - Buy Cool T's</title>
	</head>
	<body>
		<header>
			<h1> Tshirt.ly </h1>
				<h2>Company Tagline + info</h2>>
		</header>
		<div class="content">
			<ul class = "this_tshirt">
				<li>
					<span href = "/tshirts/<%= tshirt.id %>"> 
						<image src="<%= tshirt.image_url %>"></image>
						<br>
						<%= tshirt.style %>
						<br>
						<ul class="shirt_info">
							<li>
								<%= tshirt.description %>
								<br>
								<%= tshirt.price %>
								<br>
								<% if tshirt.quantity_available > 0 %>
								In stock!
								<button>BUY</button>
								<% else %>
								Sold out! 
								<% end %>
							</l1>
						</ul>
					</span>		
				</li>
			</ul>
		</div>	
	</body>
</html>